<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Finder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <img src="/images/FontFinder.png" id="ff-logo" alt="Welcome to FontFinder!">
        <nav>
           {{#if logged_in}}
                <a href="/profile">Profile</a> |
                <button class="button is-danger is-light" id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            <a href="/">Home</a>
            <a href="/post">Blog</a>
        </nav>

    </header>
    {{{ body }}} 
    <footer>
      
    </footer>



<script link="/js/fonts.js"></script>
</body>
</html>