<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Finder</title>
     <link rel="stylesheet" href="
    https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css
    ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/signUp"><button class="button is-info is-normal">Sign Up!</button></a>
            <a href="/login"><button class="button is-info is-light is-normal">Login!</button></a>
            <a href="/blog"><button class="button is-success is-normal">Blog!</button></a>
        </nav>
        <img src="./images/ff-logo.png" id="ff-logo" alt="Welcome to FontFinder!">
    </header>

{{{ body }}}

    
</body>
</html>