<div class="columns">
        <div class="column is-one-quarter">
            <form class="box" for="Search-Bar" id="searchForm">
                <div class="field">
                    <label class="label">Search</label>
                    <input type="text" id="searchBar" name="Search">
                    <button type="submit" class="searchBtn">Search</button>
                </div>      
            </form>
        </div>
        <div class="column is-three-quarters">

        </div>

</div>