<div class="column">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="input" type="text" id="username-signup" placeholder="Your Name" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="input" type="email" id="email-signup" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="input" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="button is-outlined is-responsive" type="submit">signup</button>
      </div>
    </form>
  </div>
  <script src="./js/signUp.js"></script>